.section_recent_project {
  position: relative;
  display: flex;
  align-items: flex-start; /* Aligns items at the top */
  /* Ensure elements are spaced evenly */
 /* Adjust gap size between picture and box */
  margin-bottom: 65px;
 margin-left: 30px;
  max-width: 1100px;
  gap: 30px;
}

.picture_recent_project {
  width: 550px;
  height: 350px;
  background-image: url('../images/DALL·E 2024-09-08 23.11.13 - A meditating figure in a lotus position with glowing chakras aligned from root to crown, surrounded by radiant auras for each chakra color. Energy flo.webp'); /* Replace with your picture URL */
  background-size: cover;
  background-position: center;
  box-shadow: 
    -10px 20px 25px rgba(38, 72, 132, 0.4),  /* Less scattered, soft dark shadow */
    10px -6px 25px rgba(86, 185, 255, 0.5),  /* Reduced blue shadow for subtlety */
    inset 0 0 20px rgba(255, 195, 195, 0.3), /* More contained inner glow */
    12px 12px 35px rgba(255, 150, 150, 0.5), /* Slightly reduced outer glow */
    0 0 12px 5px rgba(255, 150, 150, 0.4),   /* Reduced pink glow */
    0 0 15px 5px rgba(255, 150, 150, 0.4);   /* Less scattered orange glow */
  margin-left: 0; /* Remove margin-left to let gap control spacing */
  border-radius: 17.666px 17.666px 73.609px;
  z-index: 1;
}

.box_recent_project {
  position: relative; /* Keep it relative */
  width: 450px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9); /* Slightly more opaque */
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.25);
  border-radius: 50px 25px 50px 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0; /* Remove auto margin to avoid conflict with flexbox */
  
}

/* Responsive layout for smaller screens */
@media (max-width: 768px) {
  .section_recent_project {
    flex-direction: column; /* Stack the elements vertically */
    align-items: center; /* Center them */
    gap: 20px; /* Adjust gap for smaller screens */
  }

  .picture_recent_project, 
  .box_recent_project {
    width: 100%; /* Make both elements take full width on mobile */
    max-width: 100%; /* Ensure they don't exceed screen width */
  }
}


.headline_recent_project,
.subheadline_recent_project {
  text-align: center;
  margin: 0;
}

.headline_recent_project {
  font-size: 24px;
  font-weight: bold;
  color: #333; /* Darker text for better readability */
}

.subheadline_recent_project {
  font-size: 18px;
  font-weight: normal;
  color: #666; /* Lighter color for subheadline */
  margin-top: 5px;
}

.content_recent_project {
  margin: 20px 0;
  font-size: 16px;
  color: #444;
}

.button_container {
  display: flex;
  justify-content: center; /* Center the buttons horizontally */
  gap: 15px; /* Increased gap for better spacing */
}

.btn_recent_project {

  display: flex;
  align-items: center;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 6px 12px;
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}



.logos--github {
  display: inline-block;
  width: 3em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 139'%3E%3Cpath fill='white' d='M98.696 59.312h-43.06a2.015 2.015 0 0 0-2.013 2.014v21.053c0 1.111.902 2.015 2.012 2.015h16.799v26.157s-3.772 1.286-14.2 1.286c-12.303 0-29.49-4.496-29.49-42.288c0-37.8 17.897-42.773 34.698-42.773c14.543 0 20.809 2.56 24.795 3.794c1.253.384 2.412-.863 2.412-1.975l4.803-20.342c0-.52-.176-1.146-.769-1.571C93.064 5.527 83.187 0 58.233 0C29.488 0 0 12.23 0 71.023c0 58.795 33.76 67.556 62.21 67.556c23.555 0 37.844-10.066 37.844-10.066c.59-.325.653-1.148.653-1.526V61.326c0-1.11-.9-2.014-2.01-2.014m221.8-51.953c0-1.12-.888-2.024-1.999-2.024h-24.246a2.016 2.016 0 0 0-2.008 2.024l.006 46.856h-37.792V7.36c0-1.12-.892-2.024-2.001-2.024H228.21a2.014 2.014 0 0 0-2.003 2.024v126.872c0 1.12.9 2.03 2.003 2.03h24.245c1.109 0 2-.91 2-2.03V79.964h37.793l-.066 54.267c0 1.12.9 2.03 2.008 2.03h24.304c1.11 0 1.998-.91 2-2.03zM144.37 24.322c0-8.73-7-15.786-15.635-15.786c-8.627 0-15.632 7.055-15.632 15.786c0 8.72 7.005 15.795 15.632 15.795c8.635 0 15.635-7.075 15.635-15.795m-1.924 83.212V48.97a2.015 2.015 0 0 0-2.006-2.021h-24.169c-1.109 0-2.1 1.144-2.1 2.256v83.905c0 2.466 1.536 3.199 3.525 3.199h21.775c2.39 0 2.975-1.173 2.975-3.239zM413.162 46.95h-24.06c-1.104 0-2.002.909-2.002 2.028v62.21s-6.112 4.472-14.788 4.472s-10.977-3.937-10.977-12.431v-54.25c0-1.12-.897-2.03-2.001-2.03h-24.419c-1.102 0-2.005.91-2.005 2.03v58.358c0 25.23 14.063 31.403 33.408 31.403c15.87 0 28.665-8.767 28.665-8.767s.61 4.62.885 5.168c.276.547.994 1.098 1.77 1.098l15.535-.068c1.102 0 2.005-.911 2.005-2.025l-.008-85.168a2.02 2.02 0 0 0-2.008-2.028m55.435 68.758c-8.345-.254-14.006-4.041-14.006-4.041V71.488s5.585-3.423 12.436-4.035c8.664-.776 17.013 1.841 17.013 22.51c0 21.795-3.768 26.096-15.443 25.744m9.49-71.483c-13.665 0-22.96 6.097-22.96 6.097V7.359a2.01 2.01 0 0 0-2-2.024h-24.315a2.013 2.013 0 0 0-2.004 2.024v126.872c0 1.12.898 2.03 2.007 2.03h16.87c.76 0 1.335-.39 1.76-1.077c.419-.682 1.024-5.85 1.024-5.85s9.942 9.422 28.763 9.422c22.096 0 34.768-11.208 34.768-50.315s-20.238-44.217-33.913-44.217M212.229 46.73h-18.187l-.028-24.027c0-.909-.468-1.364-1.52-1.364H167.71c-.964 0-1.481.424-1.481 1.35v24.83s-12.42 2.998-13.26 3.24a2.01 2.01 0 0 0-1.452 1.934v15.603c0 1.122.896 2.027 2.005 2.027h12.707v37.536c0 27.88 19.556 30.619 32.753 30.619c6.03 0 13.243-1.937 14.434-2.376c.72-.265 1.138-1.01 1.138-1.82l.02-17.164c0-1.119-.945-2.025-2.01-2.025c-1.06 0-3.77.431-6.562.431c-8.933 0-11.96-4.154-11.96-9.53l-.001-35.67h18.188a2.014 2.014 0 0 0 2.006-2.028V48.753c0-1.12-.897-2.022-2.006-2.022'/%3E%3C/svg%3E");
}

.btn_recent_project:hover {
  transform: scale(1.05); /* Slightly increase button size on hover */
}

.btn_recent_project-icon {
  width: 30px; /* Slightly larger icon */
  height: auto;
 
}

.btn_recent_project-github {
  background: #333;
}

.btn_recent_project-live {
  background: #28a745;
}

.line-md--github-loop {
  display: inline-block;
  width: 2em;
  height: 1.5em;
  background-repeat: repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cmask id='lineMdGithubLoop0' width='24' height='24' x='0' y='0'%3E%3Cg fill='%23fff'%3E%3Cellipse cx='9.5' cy='9' rx='1.5' ry='1'/%3E%3Cellipse cx='14.5' cy='9' rx='1.5' ry='1'/%3E%3C/g%3E%3C/mask%3E%3Cg fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath stroke-dasharray='32' stroke-dashoffset='32' d='M12 4c1.67 0 2.61 0.4 3 0.5c0.53 -0.43 1.94 -1.5 3.5 -1.5c0.34 1 0.29 2.22 0 3c0.75 1 1 2 1 3.5c0 2.19 -0.48 3.58 -1.5 4.5c-1.02 0.92 -2.11 1.37 -3.5 1.5c0.65 0.54 0.5 1.87 0.5 2.5c0 0.73 0 3 0 3M12 4c-1.67 0 -2.61 0.4 -3 0.5c-0.53 -0.43 -1.94 -1.5 -3.5 -1.5c-0.34 1 -0.29 2.22 0 3c-0.75 1 -1 2 -1 3.5c0 2.19 0.48 3.58 1.5 4.5c1.02 0.92 2.11 1.37 3.5 1.5c-0.65 0.54 -0.5 1.87 -0.5 2.5c0 0.73 0 3 0 3'%3E%3Canimate fill='freeze' attributeName='stroke-dashoffset' dur='0.35s' values='32;0'/%3E%3C/path%3E%3Cpath stroke-dasharray='10' stroke-dashoffset='10' d='M9 19c-1.406 0-2.844-.563-3.688-1.188C4.47 17.188 4.22 16.157 3 15.5'%3E%3Canimate attributeName='d' dur='1.5s' repeatCount='indefinite' values='M9 19c-1.406 0-2.844-.563-3.688-1.188C4.47 17.188 4.22 16.157 3 15.5;M9 19c-1.406 0-3-.5-4-.5-.532 0-1 0-2-.5;M9 19c-1.406 0-2.844-.563-3.688-1.188C4.47 17.188 4.22 16.157 3 15.5'/%3E%3Canimate fill='freeze' attributeName='stroke-dashoffset' begin='0.4s' dur='0.1s' values='10;0'/%3E%3C/path%3E%3C/g%3E%3Crect width='8' height='4' x='8' y='11' fill='black' mask='url(%23lineMdGithubLoop0)'%3E%3Canimate attributeName='y' dur='5s' keyTimes='0;0.45;0.46;0.54;0.55;1' repeatCount='indefinite' values='11;11;7;7;11;11'/%3E%3C/rect%3E%3C/svg%3E");
}

.line-md--email-arrow-right-filled {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cmask id='lineMdEmailArrowRightFilled0'%3E%3Cg fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath stroke-dasharray='64' stroke-dashoffset='64' d='M4 5h16c0.55 0 1 0.45 1 1v12c0 0.55 -0.45 1 -1 1h-16c-0.55 0 -1 -0.45 -1 -1v-12c0 -0.55 0.45 -1 1 -1Z'%3E%3Canimate fill='freeze' attributeName='stroke-dashoffset' dur='0.6s' values='64;0'/%3E%3C/path%3E%3Cpath stroke-dasharray='24' stroke-dashoffset='24' d='M3 6.5l9 5.5l9 -5.5'%3E%3Canimate fill='freeze' attributeName='stroke-dashoffset' begin='0.6s' dur='0.2s' values='24;0'/%3E%3C/path%3E%3Cpath fill='%23fff' fill-opacity='0' stroke='none' d='M12 11l-8 -5h16l-8 5Z'%3E%3Canimate fill='freeze' attributeName='fill-opacity' begin='1.2s' dur='0.5s' values='0;1'/%3E%3C/path%3E%3Cpath fill='%23000' fill-opacity='0' stroke='none' d='M19 13c3.31 0 6 2.69 6 6c0 3.31 -2.69 6 -6 6c-3.31 0 -6 -2.69 -6 -6c0 -3.31 2.69 -6 6 -6Z'%3E%3Cset fill='freeze' attributeName='fill-opacity' begin='0.8s' to='1'/%3E%3C/path%3E%3Cpath stroke-dasharray='6' stroke-dashoffset='6' d='M16 19h5'%3E%3Canimate fill='freeze' attributeName='stroke-dashoffset' begin='0.8s' dur='0.2s' values='6;0'/%3E%3C/path%3E%3Cpath stroke-dasharray='4' stroke-dashoffset='4' d='M21 19l-2 2M21 19l-2 -2'%3E%3Canimate fill='freeze' attributeName='stroke-dashoffset' begin='1s' dur='0.2s' values='4;0'/%3E%3C/path%3E%3C/g%3E%3C/mask%3E%3Crect width='24' height='24' fill='black' mask='url(%23lineMdEmailArrowRightFilled0)'/%3E%3C/svg%3E");
}


.connector {
 

  position: relative;
}

.connector img {
  width: 90px; /* Adjust size as needed */
  height: auto;
  display: block;
  /* Position the GIF within the connector as needed */
  position: absolute;
  top: 170px; /* Adjust vertical position */
  left: 35px; /* Adjust horizontal position */
  transform: translate(-50%, -50%); /* Center the GIF */
  z-index: 4;
}



.section_new_project {
  display: flex;
  position: relative; /* Container for absolute positioning */
  margin: 0 auto;
  margin-bottom: 400px; /* Adjust spacing below the section if needed */
}

.picture_new_project {
  width: 500px;
  height: 350px;
  background-image: url('../images/DALL·E 2024-09-08 23.11.13 - A meditating figure in a lotus position with glowing chakras aligned from root to crown, surrounded by radiant auras for each chakra color. Energy flo.webp'); /* Replace with your picture URL */
  background-size: cover;
  background-position: center;
  position: absolute; /* Positioned relative to the .section_new_project */
  right: 0; /* Aligns to the right side of the section */
  top: 0; /* Aligns to the top */
  z-index: 1; /* Ensure it is below the box */
  box-shadow: 
  -10px 20px 25px rgba(38, 72, 132, 0.4),  /* Less scattered, soft dark shadow */
  10px -6px 25px rgba(86, 185, 255, 0.5),  /* Reduced blue shadow for subtlety */
  inset 0 0 20px rgba(255, 195, 195, 0.3), /* More contained inner glow */
  12px 12px 35px rgba(255, 150, 150, 0.5), /* Slightly reduced outer glow */
  0 0 12px 5px rgba(255, 150, 150, 0.4),   /* Reduced pink glow */
  0 0 15px 5px rgba(255, 150, 150, 0.4);   /* Less scattered orange glow */

  margin-right: 50px;
  border-radius: 17.666px 17.666px 73.609px;


}

.box_new_project {
  position: absolute; /* Positioned relative to the .section_new_project */
  top: 150px; /* Adjust to position the box */
  left: 0; /* Aligns to the left side of the section */
  width: 630px;
  height: 150px;
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
  border-radius: 8px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
  padding: 10px;
  display: flex;
  flex-direction: column; /* Stack children vertically */
  z-index: 2; /* Ensure it appears above the picture */
  margin-left: 20px;

}


.headline_recent_project_new {
  position: absolute;
 
  left: 0; /* Align with the right side of the box */
  width: 300px; /* Match the width of the box */
  text-align: left; /* Align text to the right */
  margin-right: 10px; /* Optional: adjust spacing from the edge */
  margin-top: -130px; /* Add space between the headline and the box */
  font-weight: bold;
}

.subheadline_recent_project_new {
  position: absolute;
 
  left: 0; /* Align with the right side of the box */
  width: 300px; /* Match the width of the box */
  text-align: left; /* Align text to the right */
  margin-right: 10px; /* Optional: adjust spacing from the edge */
  margin-top: -80px;/* Add space between the headline and the box */
  font-weight: bold;
 
}

.button_container_new {
  display: flex;
  gap: 10px; /* Space between the buttons */
  position: absolute;
  left: 60px; /* Align to the right side */
  top: 280px; /* Adjust as needed to position below the box */
  z-index: 3;
}

#category-filters {
  text-align: center;
  margin-top: 10px;
}

.filter-btn {
  background: linear-gradient(135deg, #598ca0, #10282d);
  border: none;
  color: white;
  padding: 5px 20px;
  margin: 10px;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 30px;
}

.filter-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Adjust spacing between items */
}

.project-entry {
  flex: 1 1 calc(33.333% - 20px); /* Adjust width as needed */
  margin-bottom: 20px; /* Space below each project */
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.project-entry.hidden {
  opacity: 0;
  transform: scale(0.8);
  pointer-events: none; /* Prevent interaction */
}

.project-entry.show {
  opacity: 1;
  transform: scale(1);
}



.gif_background_container {
  position: relative;
  height: 400px; /* Adjust as needed */
  overflow: hidden;
}

.gif_background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../images/2044500a9a0cef20ef935c31946538a1.gif'); /* GIF URL */
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.overlay_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.6); /* Slightly transparent background */
  color: #fff;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  width: 80%;
}

.project_title {
  font-size: 2rem;
  margin-bottom: 10px;
}

.project_links {
  margin-top: 20px;
}






